In [1]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented.
# !mamba install -qy pandas==1.3.4 numpy==1.21.4 seaborn==0.9.0 matplotlib==3.5.0 scikit-learn==0.20.1
# Note: If your environment doesn't support "!mamba install", use "!pip install"

In [21]:
!pip install pandas numpy seaborn matplotlib scikit-learn scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (2.1.4)
Requirement already satisfied: numpy in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (1.26.2)
Requirement already satisfied: seaborn in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (0.13.2)
Requirement already satisfied: matplotlib in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (3.8.2)
Requirement already satisfied: scikit-learn in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (1.3.2)
Requirement already satisfied: scipy in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (1.11.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from matplotlib) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from matplotlib) (6.1.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: zipp>=3.1.0 in /Users/jacksonwalters/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.17.0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

In [7]:
import warnings 
warnings.filterwarnings('ignore')

In [8]:
import pandas as pd
import numpy as np 

import seaborn as sns 
import matplotlib.pylab as plt
%matplotlib inline

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from scipy.stats import norm
from scipy import stats

In [27]:
## Load in the Ames Housing Data
from urllib.request import urlretrieve

url = ("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0232EN-SkillsNetwork/asset/Ames_Housing_Data1.tsv")
filename = "Ames_Housing_Data1.tsv"

path, headers = urlretrieve(url, filename)

for name, value in headers.items():
    print(name, value)
    
housing = pd.read_csv(path, sep='\t')
housing.head(5)

Date Wed, 28 Feb 2024 23:10:15 GMT
X-Clv-Request-Id 8ac258d1-819c-40b3-9c43-7d23e5ff7f36
Server Cleversafe
X-Clv-S3-Version 2.5
Accept-Ranges bytes
x-amz-request-id 8ac258d1-819c-40b3-9c43-7d23e5ff7f36
Cache-Control max-age=0,public
ETag "085b7735b3df598eb0768d5eed4132f4"
Content-Type text/tab-separated-values
Last-Modified Mon, 18 Jul 2022 21:02:10 GMT
Content-Length 955671

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
2,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
3,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
4,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000